*{
  padding: 0px;
  margin: 0px;
  background-color: black;
  color : red;
  font-weight: bolder;
  font-size: 20px;
}

input{
  background-color: #fff;
  margin: 30px;
  padding : 10px;
}

button{
  background-color: yellow;
  margin: 30px;
  padding : 10px;
  color : black;
  font-weight: bolder
}

